<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
<!-- <?php include("header.php");?>  include not working -->

<h1>{{title}}</h1>
{{#if user}}
    <h2>Welcome back, {{user.username}}!</h2>
    <p> Make sure your pantry is up to date, and click on the button below to generate a personalized list of recipes. </p>

    <!-- <button name="recipeGenerator" type="button">Generate Recipes</button> -->
    <!--<button onclick="myFunction()">Generate Recipes</button> -->
    <button onclick="myFunction()" class="button">Generate Recipes</a>

{{else}}
    <p>Login or create an account to get started!</p>
    <p>
        <a href="register">
            Register
        </a>
        <br>
        <a href="login">
            Login
        </a>
    </p>
{{/if}}
