<!doctype html>
<head>
<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="../javascripts/recipeLogic.js" type="text/javascript"></script>
</head>
<body>
{{#if user}}
    <h2>Welcome back, {{user.username}}!</h2>
    <p> Make sure your pantry is up to date, and click on the button below to generate a personalized list of recipes. </p>

          <!--<button id="recipe_button" onclick="generateRecipe()">Click here!</button>-->
        <!--<script>
            //need to define schema (like below example) and then reference it 
            //here (so late can figure out how to reference it's id number instead 
            //of having it harcoded)
            //need to hard code mac and cheese ID 
            const id = 1;

            /*Recipe.findByID(id, function(err, recipe){
                let dl = document.createElement("dl");
                dl = recipe;
                document.body.appendChild(dl);
            });*/
            /*
            var ToySchema = new Schema({ name: String });
            var ToyBox = new Schema({
              toys: [ToySchema],
              buffers: [Buffer],
              string:  [String],
              numbers: [Number]
              // ... etc
            });
            */
        </script>-->

        <!--<button id="recipe_button" onclick="generateRecipe()">Click here!</button> -->

        <form action = "/recipe/home" method = "post">
        <input type="submit" name="upvote" value="Find a Recipe!" />
         </form>



        <!---<button>Click here!</button>
        <dl style="display: none">
            <dt>MAKE MAC N CHEESE</dt>
            <dd>- Boil pasta according to packaging </dd>
            <dd>- Shred cheese (I personally preferred cheddar) </dd>
            <dd>- Combine in a bowl of your choosing </dd>
            <dd>- Enjoy your mac n cheese! </dd>
        </dl>

        <script>
            $(document).ready(function () {
                $("button").click(function(){

                    $("dl").toggle();
                });
            });    
        </script>-->

{{else}}
    <p>Login or create an account to get started with Recipe Recommender:</p>
    <p>
        <a href="register">
            Register
        </a>
        <br>
        <a href="login">
            Login
        </a>
    </p>
{{/if}}
</body>
</html>