
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
   <link href="../stylesheets/style.css" rel="stylesheet">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>


    <h1> My Pantry</h1>
  {{#if pantry}}
    <div class="container-fluid">
          <div class="row">
          {{#each pantry as |ingredient|}}
            <div class="col-md-8 col-sm-12 col-xs-20 box">
                <h1 class = "pantry-ingredient">{{ingredient.name}}</h1>
                <h3 class = "pantry-quantity">{{ingredient.quantity}}</h3>
                <button id="trash" type="image" class="remove-button">
                  <img src="../img/remove.jpg" class="img-thumbnail" onclick="" /> 
                </button>
            </div>
            {{/each}}
          </div>
        </div>
    {{else}}
      <h2> Your Pantry is Empty</h2>
      <a href="/recipe/pantry">
            SET UP YOUR PANTRY HERE!
      </a>
      {{/if}}

