
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>

	<!-- Header -->
	<header id="header">
	    <div class="inner">
	        <div class="logo"> <a href="/recipe">Recipe Finder</a></div>
	        <nav id="nav">
	            <a href="logout">Logout</a>
	        </nav>
	    </div>
	</header>

  <body>
    {{{body}}}
  </body>
  </html>

