{{#if message}}
<div class="alert alert-error">
    {{message}}
</div>
{{/if}}

<form method="POST" action="/login">

    <div>
        <h2>Login Here:</h2>
        <label for="inputEmail">Username</label>
        <div>
            <input type="text" id="inputEmail" placeholder="Username" name="username">
        </div>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <div>
            <input type="password" id="inputPassword" placeholder="Password" name = "password">
        </div>
    </div>
    <div>
        <div>

            <button type="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>