<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">

<header id="header">
    <div class="inner">
        <div class="logo"> <a href="/recipe">Recipe Finder</a></div>
        <nav id="nav">
            <a href="/recipe/logout">Logout</a>
        </nav>
    </div>
</header>


{{#if message}}
<div class="alert alert-error">
    {{message}}
</div>
{{/if}}
<!-- Sidebar -->
        <div class="sidebar">
            <dl class="nav">
                <a href="inventory" id="myPantry">My Pantry</a>
                <dt class="Category">Dietary Preferences</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="vegetarian" name="dietaryFilter" value="vegetarian">
                    <label for="vegetarian">vegetarian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="vegan" name="dietaryFilter" value="vegan">
                    <label for="vegan">vegan</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="gluten" name="dietaryFilter" value="gluten">
                    <label for="gluten">gluten free</label>
                </dt>

                <dt class="Category">Cuisine</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="Mediterranean" name="cusineFilter" value="Mediterranean">
                    <label for="Mediterranean">Mediterranean</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Asian" name="cuisineFilter" value="Asian">
                    <label for="Asian">Asian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Italian" name="cuisineFilter" value="Italian">
                    <label for="Italian">Italian</label>
                </dt>

                <dt class="Category">Cook Time</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="0-30" name="timeFilter" value="0-30">
                    <label for="0-30">0 to 30 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="30-60" name="timeFilter" value="30-60">
                    <label for="30-60">30 to 60 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="60-90" name="timeFilter" value="60-90">
                    <label for="60-90">60 to 90 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="90+" name="timeFilter" value="90+">
                    <label for="90+">90+ minutes</label>
                </dt>
                 
            </dl>
        </div>
<p>Select ingredients to add to your pantry: </p>
<form method="POST" action="/recipe/pantry">
    <div>
        <h3> Fridge: </h3>
        <input type="checkbox" name="ingredient" value="Milk" checked> Milk<br>
        <input type="checkbox" name="ingredient" value="Cream" checked> Cream<br>
        <input type="checkbox" name="ingredient" value="Eggs" checked> Eggs<br>
        <input type="checkbox" name="ingredient" value="almondMlik" checked> Almond Milk<br>
        <input type="checkbox" name="ingredient" value="Butter" checked> Butter<br>
        <input type="checkbox" name="ingredient" value="Yogurt" checked> Yogurt<br>
        <input type="checkbox" name="ingredient" value="Juice" checked> Juice<br>
        <h3> Spices / Condiments: </h3>
        <input type="checkbox" name="ingredient" value="Salt" checked> Salt<br>
        <input type="checkbox" name="ingredient" value="Pepper" checked> Pepper<br>
        <input type="checkbox" name="ingredient" value="GarlicPowder" checked> Garlic powder<br>
        <input type="checkbox" name="ingredient" value="ChiliPowder" checked> Chili powder<br>
        <input type="checkbox" name="ingredient" value="Paprika" checked> Paprika<br>
        <input type="checkbox" name="ingredient" value="Cinnamon" checked> Cinnamon<br>
        <input type="checkbox" name="ingredient" value="Nutmeg" checked> Nutmeg<br>
        <input type="checkbox" name="ingredient" value="Ketchup" checked> Ketchup<br>
        <input type="checkbox" name="ingredient" value="Mustard" checked> Mustard<br>
        <input type="checkbox" name="ingredient" value="Mayo" checked> Mayo<br>
        <input type="checkbox" name="ingredient" value="HotSauce" checked> Hot sauce<br>
        <h3> Pantry: </h3>
        <input type="checkbox" name="ingredient" value="Rice" checked> Rice<br>
        <input type="checkbox" name="ingredient" value="Pasta" checked> Pasta<br>
        <input type="checkbox" name="ingredient" value="Beans" checked> Beans<br>
        <input type="checkbox" name="ingredient" value="Lentils" checked> Lentils<br>
        <input type="checkbox" name="ingredient" value="ChickenBroth" checked> Chicken broth<br>
        <input type="checkbox" name="ingredient" value="VegetableBroth" checked> Vegetable broth<br>
        <input type="checkbox" name="ingredient" value="BeefBroth" checked> Beef broth<br>
        <input type="checkbox" name="ingredient" value="peanutButter" checked> Peanut Butter<br>
        <input type="checkbox" name="ingredient" value="Oats" checked> Oats<br>
        <input type="checkbox" name="ingredient" value="Cereal" checked> Cereal<br>
        <input type="checkbox" name="ingredient" value="oliveOil" checked> Olive Oil<br>
        <input type="checkbox" name="ingredient" value="Vinegar" checked> Vinegar<br>
        <input type="checkbox" name="ingredient" value="SoySauce" checked> Soy sauce<br>
        <input type="checkbox" name="ingredient" value="Honey" checked> Honey<br>
        <input type="checkbox" name="ingredient" value="MapleSyrup" checked> Maple Syrup<br>
        <input type="checkbox" name="ingredient" value="Flour" checked> Flour<br>
        <input type="checkbox" name="ingredient" value="BakingSoda" checked> Baking Soda<br>
        <input type="checkbox" name="ingredient" value="BakingPowder" checked> Baking Powder<br>
        <input type="checkbox" name="ingredient" value="BrownSugar" checked> Brown Sugar<br>
        <input type="checkbox" name="ingredient" value="GranulatedSugar" checked>Granulated Sugar<br>
        <input type="checkbox" name="ingredient" value="Nuts" checked> Nuts<br>
        <input type="checkbox" name="ingredient" value="Jam" checked> Jam<br>
    </div>
    <div>
      <button type="submit" class="btn">Save Pantry</button>
    </div>
</form>

{{#if pantry}}
        <h3>Your Current Pantry:</h3>


    {{#each pantry as |ingredient|}}

        <li class = "each"> name: <strong>{{ingredient.name}}</strong>
            quantity: <strong>{{ingredient.quantity}}</strong>
            <br>
        </li>
    {{/each}}

{{/if}}

<!--<script>
let ingr = document.getElementById('ingredient');
ingr.form.addEventListener('submit', function(event){
    event.preventDefault();
    console.log(ingr.value);
})
</script>-->
