<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">

{{#if message}}
<div class="alert alert-error">
    {{message}}
</div>
{{/if}}
<!-- Sidebar -->
        <div class="sidebar">
            <dl class="nav">
                <a href="inventory" id="myPantry">My Pantry</a>
                <dt class="Category">Dietary Preferences</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="vegetarian" name="dietaryFilter" value="vegetarian">
                    <label for="vegetarian">vegetarian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="vegan" name="dietaryFilter" value="vegan">
                    <label for="vegan">vegan</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="gluten" name="dietaryFilter" value="gluten">
                    <label for="gluten">gluten free</label>
                </dt>

                <dt class="Category">Cuisine</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="Mediterranean" name="cusineFilter" value="Mediterranean">
                    <label for="Mediterranean">Mediterranean</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Asian" name="cuisineFilter" value="Asian">
                    <label for="Asian">Asian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Italian" name="cuisineFilter" value="Italian">
                    <label for="Italian">Italian</label>
                </dt>

                <dt class="Category">Cook Time</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="0-30" name="timeFilter" value="0-30">
                    <label for="0-30">0 to 30 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="30-60" name="timeFilter" value="30-60">
                    <label for="30-60">30 to 60 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="60-90" name="timeFilter" value="60-90">
                    <label for="60-90">60 to 90 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="90+" name="timeFilter" value="90+">
                    <label for="90+">90+ minutes</label>
                </dt>
                 
            </dl>
        </div>
<p>Select ingredients to add to your pantry: </p>
<form method="POST" action="/recipe/pantry">

    <div>
          <h3> Fridge: </h3>
          <input type="checkbox" name="ingredient" value="Milk"> Milk<br>
          <input type="checkbox" name="ingredient" value="Cream"> Cream<br>
          <input type="checkbox" name="ingredient" value="Eggs"> Eggs<br>
          <input type="checkbox" name="ingredient" value="almondMlik"> Almond Milk<br>
          <input type="checkbox" name="ingredient" value="Butter"> Butter<br>
          <input type="checkbox" name="ingredient" value="Yogurt"> Yogurt<br>
          <input type="checkbox" name="ingredient" value="Juice"> Juice<br>
          <h3> Spices / Condiments: </h3>
          <input type="checkbox" name="ingredient" value="Salt"> Salt<br>
          <input type="checkbox" name="ingredient" value="Pepper"> Pepper<br>
          <input type="checkbox" name="ingredient" value="GarlicPowder"> Garlic powder<br>
          <input type="checkbox" name="ingredient" value="ChiliPowder"> Chili powder<br>
          <input type="checkbox" name="ingredient" value="Paprika"> Paprika<br>
          <input type="checkbox" name="ingredient" value="Cinnamon"> Cinnamon<br>
          <input type="checkbox" name="ingredient" value="Nutmeg"> Nutmeg<br>
          <input type="checkbox" name="ingredient" value="Ketchup"> Ketchup<br>
          <input type="checkbox" name="ingredient" value="Mustard"> Mustard<br>
          <input type="checkbox" name="ingredient" value="Mayo"> Mayo<br>
          <input type="checkbox" name="ingredient" value="HotSauce"> Hot sauce<br>
          <h3> Pantry: </h3>
          <input type="checkbox" name="ingredient" value="Rice"> Rice<br>
          <input type="checkbox" name="ingredient" value="Pasta"> Pasta<br>
          <input type="checkbox" name="ingredient" value="Beans"> Beans<br>
          <input type="checkbox" name="ingredient" value="Lentils"> Lentils<br>
          <input type="checkbox" name="ingredient" value="ChickenBroth"> Chicken broth<br>
          <input type="checkbox" name="ingredient" value="VegetableBroth"> Vegetable broth<br>
          <input type="checkbox" name="ingredient" value="BeefBroth"> Beef broth<br>
          <input type="checkbox" name="ingredient" value="peanutButter"> Peanut Butter<br>
          <input type="checkbox" name="ingredient" value="Oats"> Oats<br>
          <input type="checkbox" name="ingredient" value="Cereal"> Cereal<br>
          <input type="checkbox" name="ingredient" value="oliveOil"> Olive Oil<br>
          <input type="checkbox" name="ingredient" value="Vinegar"> Vinegar<br>
          <input type="checkbox" name="ingredient" value="SoySauce"> Soy sauce<br>
          <input type="checkbox" name="ingredient" value="Honey"> Honey<br>
          <input type="checkbox" name="ingredient" value="MapleSyrup"> Maple Syrup<br>
          <input type="checkbox" name="ingredient" value="Flour"> Flour<br>
          <input type="checkbox" name="ingredient" value="BakingSoda"> Baking Soda<br>
          <input type="checkbox" name="ingredient" value="BakingPowder"> Baking Powder<br>
          <input type="checkbox" name="ingredient" value="BrownSugar"> Brown Sugar<br>
          <input type="checkbox" name="ingredient" value="GranulatedSugar">Granulated Sugar<br>
          <input type="checkbox" name="ingredient" value="Nuts"> Nuts<br>
          <input type="checkbox" name="ingredient" value="Jam"> Jam<br>
        </select>
    </div>
    <div>
        <div>

            <button type="submit" class="btn">Save Pantry</button>
        </div>
    </div>
</form>

{{#if pantry}}
        <h3>Your Current Pantry:</h3>


    {{#each pantry as |ingredient|}}

        <li class = "each"> name: <strong>{{ingredient.name}}</strong>
            quantity: <strong>{{ingredient.quantity}}</strong>
            <br>
        </li>
    {{/each}}

{{/if}}

<!--<script>
let ingr = document.getElementById('ingredient');
ingr.form.addEventListener('submit', function(event){
    event.preventDefault();
    console.log(ingr.value);
})
</script>-->
