<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet">

<header id="header">
    <div class="inner">
        <div class="logo"> <a href="/recipe">Recipe Finder</a></div>
        <nav id="nav">
            <a href="/recipe/logout">Logout</a>
        </nav>
    </div>
</header>


{{#if message}}
<div class="alert alert-error">
    {{message}}
</div>
{{/if}}
<!-- Sidebar -->
        <!--
        <div class="sidebar">
            <dl class="nav">
                <a href="inventory" id="myPantry">My Pantry</a>
                <dt class="Category">Dietary Preferences</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="vegetarian" name="dietaryFilter" value="vegetarian">
                    <label for="vegetarian">vegetarian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="vegan" name="dietaryFilter" value="vegan">
                    <label for="vegan">vegan</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="gluten" name="dietaryFilter" value="gluten">
                    <label for="gluten">gluten free</label>
                </dt>

                <dt class="Category">Cuisine</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="Mediterranean" name="cusineFilter" value="Mediterranean">
                    <label for="Mediterranean">Mediterranean</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Asian" name="cuisineFilter" value="Asian">
                    <label for="Asian">Asian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Italian" name="cuisineFilter" value="Italian">
                    <label for="Italian">Italian</label>
                </dt>

                <dt class="Category">Cook Time</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="0-30" name="timeFilter" value="0-30">
                    <label for="0-30">0 to 30 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="30-60" name="timeFilter" value="30-60">
                    <label for="30-60">30 to 60 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="60-90" name="timeFilter" value="60-90">
                    <label for="60-90">60 to 90 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="90+" name="timeFilter" value="90+">
                    <label for="90+">90+ minutes</label>
                </dt>
                 
            </dl>
        </div> -->
<p>Select ingredients to add to your pantry: </p>
  
<!-- Modal Trigger -->
<!--<a class="waves-effect waves-light btn modal-trigger" href="#modal1" onclick="$('#modal1').modal('open');">Set up your base pantry</a> -->

<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Set up your pantry here!</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <form method="POST" action="/recipe/pantry">
    <div>
        <h5> Fridge: </h5>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Milk" checked/>
          <span>Milk</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Cream" checked/>
          <span>Cream</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Eggs" checked/>
          <span>Eggs</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Almond Milk" checked/>
          <span>Almond Milk</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Butter" checked/>
          <span>Butter</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Yogurt" checked/>
          <span>Yogurt</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Juice" checked/>
          <span>Juice</span>
        </label><br>

        <h5> Spices / Condiments: </h5>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Salt" checked/>
          <span>Salt</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Pepper" checked/>
          <span>Pepper</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Garlic Powder" checked red/>
          <span>Garlic powder</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Chili Powder" checked red/>
          <span>Chili powder</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Paprika" checked/>
          <span>Paprika</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Nutmeg" checked/>
          <span>Nutmeg</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Ketchup" checked/>
          <span>Ketchup</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Mustard" checked/>
          <span>Mustard</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Mayo" checked/>
          <span>Mayo</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Hot Sauce" checked/>
          <span>Hot sauce</span>
        </label><br>

        <h5> Pantry: </h5>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Rice" checked/>
          <span>Rice</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Pasta" checked/>
          <span>Pasta</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Beans" checked/>
          <span>Beans</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Lentils" checked/>
          <span>Lentils</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Chicken Broth" checked/>
          <span>Chicken broth</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Vegetable Broth" checked/>
          <span>Vegetable broth</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Beef Broth" checked/>
          <span>Beef broth</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Peanut Butter" checked/>
          <span>Peanut butter</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Oats" checked/>
          <span>Oats</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Cereal" checked/>
          <span>Cereal</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Olive Oil" checked/>
          <span>Olive oil</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Vinegar" checked/>
          <span>Vinegar</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Soy Sauce" checked/>
          <span>Soy sauce</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Honey" checked/>
          <span>Honey</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Maple Syrup" checked/>
          <span>Maple syrup</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Baking Powder" checked/>
          <span>Baking powder</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Brown Sugar" checked/>
          <span>Brown Sugar</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Granulated Sugar" checked/>
          <span>Granulated Sugar</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Nuts" checked/>
          <span>Nuts</span>
        </label><br>
        <label>
          <input type="checkbox" class="filled-in" name="ingredient" value="Jam" checked/>
          <span>Jam</span>
        </label><br>
      </div>
      <div>
        <button type="submit" class="btn modal-action modal-close waves-green">Save Pantry</button>
      </div>
    </form>
  </div>
</div>



<a class="waves-effect waves-light btn modal-trigger" href="#modal2">How many do you have?</a>

<div id="modal2" class="modal">
  <div class="modal-content">
    <form method="POST" action="/recipe/pantry">
    <p>How much do you have?</p>
    <div>
        <div class="input-field col s12">
          <select>
            <option value="1 gallon" selected>1 gallon</option>
            <option value="1/2 gallon">1/2 gallon</option>
            <option value="1 quart">1 quart</option>
            <option value="1 pint">1 pint</option>
          </select>
          <label>Milk</label>
        </div>

        <div class="input-field col">
          <select>
            <option value="1 pint" selected>1 pint</option>
            <option value="1 quart">1 quart</option>
            <option value="1 cups">1 cup</option>
            <option value="2 cups">2 cups</option>
            <option value="3 cups">3 cups</option>
            <option value="4 cups">4 cups</option>
          </select>
          <label>Cream</label>
        </div>

        <div class="input-field col">
          <select>
            <option value="12 eggs" selected>12 eggs</option>
            <option value="1 egg">1 egg</option>
            <option value="2 eggs">2 eggs</option>
            <option value="3 eggs">3 eggs</option>
            <option value="4 eggs">4 eggs</option>
            <option value="5 eggs">5 eggs</option>
            <option value="6 eggs">6 eggs</option>
            <option value="7 eggs">7 eggs</option>
            <option value="8 eggs">8 eggs</option>
            <option value="9 eggs">9 eggs</option>
            <option value="10 eggs">10 eggs</option>
            <option value="11 eggs">11 eggs</option>
          </select>
          <label>Eggs</label>
        </div>

        <div class="input-field col s12">
          <select>
            <option value="1 gallon" selected>1 gallon</option>
            <option value="1/2 gallon">1/2 gallon</option>
            <option value="1 quart">1 quart</option>
            <option value="1 pint">1 pint</option>
          </select>
          <label>Almond Milk</label>
        </div>

         <div class="input-field col">
          <select>
            <option value="1 pint" selected>1 cup</option>
            <option value="1 quart">1/2 cup</option>
            <option value="1 cups">1/4 cup</option>
            <option value="2 cups">1/8 cup</option>
            <option value="3 cups">2 cups</option>
            <option value="4 cups">3 cups</option>
          </select>
          <label>Butter</label>
        </div>

         <div class="input-field col">
          <select>
            <option value="1 pint" selected>1 pint</option>
            <option value="1 quart">1 quart</option>
            <option value="1 cups">1 cup</option>
            <option value="2 cups">2 cups</option>
            <option value="3 cups">3 cups</option>
            <option value="4 cups">4 cups</option>
          </select>
          <label>Yogurt</label>
        </div>

        <div class="input-field col s12">
          <select>
            <option value="1 gallon" selected>1 gallon</option>
            <option value="1/2 gallon">1/2 gallon</option>
            <option value="1 quart">1 quart</option>
            <option value="1 pint">1 pint</option>
          </select>
          <label>Juice</label>
        </div>

      </div>
    </form>
  </div>

  <div class="modal-footer">
    <div>
      <button type="submit" class="btn modal-action modal-close waves-green">Save Pantry</button>
    </div>
    <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>-->
  </div>
</div>




<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<script>
    $(document).ready(function(){
        $(".modal").modal();
        $('select:not([multiple])').material_select();
    });
</script>


{{#if pantry}}
    <h3>Your Current Pantry:</h3>

    {{#each pantry as |ingredient|}}

        <li class = "each"> name: <strong>{{ingredient.name}}</strong>
            quantity: <strong>{{ingredient.quantity}}</strong>
            <br>
        </li>
    {{/each}}

{{/if}}

<!--<script>
let ingr = document.getElementById('ingredient');
ingr.form.addEventListener('submit', function(event){
    event.preventDefault();
    console.log(ingr.value);
})
</script>-->
