<link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet">

<nav class="red lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text">Kitchuation</a>
    
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>


{{#if message}}
<div class="alert alert-error">
    {{message}}
</div>
{{/if}}


<script type=text/javascript>
  function toggle_quantity(ingredient_id, measure_id, unit_id){
    if (ingredient_id.checked){
      measure_id.style = "";
      unit_id.style = "";
    } else {
      measure_id.style = "diplay:none";
      unit_id.style = "display:none";
    }
  }
</script>

<div class="container">
<form method="POST" action="/recipe/pantry">
  <div class="row center">
    <h5>What's in your pantry?</h5>
  </div>
<h6> Fridge: </h6>
<br>
<div>
      <!--row contains one ingredient to add to pantry-->
      <div class="row">
        <!--Checkbox and ingredient name-->
        <div class="col s2">
          <label>
            <input id="milk" type="checkbox" class="filled-in" name="ingredient" value="Milk" checked/>
          <span>Milk</span>
          </label>
        </div>
          
          <!--Form to input measure (quantity)-->
          <div class="input-field col s1" id="milk_quantity">
            <input value="1" defaut="1" id="milk_q" type="text" name="measure" class="validate">
            <label class="active" for="milk_q">Quantity</label>
          </div>

          <!--Dropdown for selecting units-->
          <div class="input-field col s3" id="milk_u">
            <select name="unit">
              <option value="gallon" selected>gallon</option>
              <option value="cup">cup</option>
              <option value="quart">quart</option>
              <option value="pint">pint</option>
            </select>
            <label>Units</label>
          </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" id="cream" class="filled-in" name="ingredient" value="Cream" checked/>
            <span>Cream</span>
          </label>
        </div>
        
        <div class="input-field col s1" id="cream_quantity">
          <input value="1" defaut="1" id="cream_q" type="text" name="measure" class="validate">
          <label class="active" for="cream_q">Quantity</label>
        </div>

        <div class="input-field col s3" id="cream_u">
          <select name="unit">
            <option value="gallon">gallon</option>
            <option value="cup">cup</option>
            <option value="quart">quart</option>
            <option value="pint" selected>pint</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" id="butter" class="filled-in" name="ingredient" value="Butter" checked/>
            <span>Butter</span>
          </label>
        </div>
        
        <div class="input-field col s1" id="butter_quantity">
          <input value=".5" defaut=".5" id="butter_q" type="text" name="measure" class="validate">
          <label class="active" for="butter_q">Quantity</label>
        </div>
        
        <div class="input-field col s3" id="butter_u">
          <select name="unit">
            <option value="cup" selected>cup</option>
            <option value="tablespoon"">tablespoon</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <!--add chicken, fish, beef-->

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="cheese" checked/>
            <span>Cheese</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="8" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs">lbs</option>
            <option value="oz" selected>oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="chicken" checked/>
            <span>Chicken</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="2" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs" selected>lbs</option>
            <option value="oz">oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="salmon" checked/>
            <span>Salmon</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="12" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs">lbs</option>
            <option value="oz" selected>oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="fish" checked/>
            <span>Fish</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="12" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs">lbs</option>
            <option value="oz" selected>oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="ground beef" checked/>
            <span>Ground beef</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="1" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs" selected>lbs</option>
            <option value="oz">oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="steak" checked/>
            <span>Steak</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="1" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs" selected>lbs</option>
            <option value="oz">oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Eggs" checked/>
            <span>Eggs</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="12" defaut="12" id="egg_q" type="text" name="measure" class="validate">
          <label class="active" for="egg_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="units" selected>units</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Almond Milk" checked/>
            <span>Almond Milk</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value=".5" defaut=".5" id="almond_milk_q" type="text" name="measure" class="validate">
          <label class="active" for="almond_milk_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="gallon" selected>gallon</option>
            <option value="cup">cup</option>
            <option value="quart">quart</option>
            <option value="pint">pint</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Yogurt" checked/>
            <span>Yogurt</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="4" defaut="4" id="yogurt_q" type="text" name="measure" class="validate">
          <label class="active" for="yogurt_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="cup" selected>cup</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Juice" checked/>
            <span>Juice</span>   
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value=".5" defaut=".5" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="gallon"selected>gallon</option>
            <option value="cup">cup</option>
            <option value="quart">quart</option>
            <option value="pint">pint</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <h6> Spices and Condiments: </h6>
      <br>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Salt" checked/>
            <span>Salt</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="1" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs" selected>lbs</option>
            <option value="oz">oz</option>
            <option value="kilograms">kilos</option>
            <option value="cups">cups</option>
            <option value="tablespoons">tablespoons</option>
            <option value="teaspoons">teaspoons</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Pepper" checked/>
            <span>Pepper</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="16" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="lbs">lbs</option>
            <option value="oz" selected>oz</option>
            <option value="kilograms">kilos</option>
            <option value="cups">cups</option>
            <option value="tablespoons">tablespoons</option>
            <option value="teaspoons">teaspoons</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Garlic Powder" checked red/>
            <span>Garlic powder</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="3" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
            <option value="tablespoons">tablespoons</option>
            <option value="teaspoons">teaspoons</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Chili Powder" checked red/>
            <span>Chili powder</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="3" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
            <option value="tablespoons">tablespoons</option>
            <option value="teaspoons">teaspoons</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Paprika" checked/>
            <span>Paprika</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="3" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
            <option value="tablespoons">tablespoons</option>
            <option value="teaspoons">teaspoons</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Nutmeg" checked/>
            <span>Nutmeg</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="3" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
            <option value="tablespoons">tablespoons</option>
            <option value="teaspoons">teaspoons</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Ketchup" checked/>
            <span>Ketchup</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="32" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Mustard" checked/>
            <span>Mustard</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="32" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Mayo" checked/>
            <span>Mayo</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="32" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Hot Sauce" checked/>
            <span>Hot Sauce</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="12" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <h6> Pantry: </h6>
      <br>
      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Rice" checked/>
            <span>Rice</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="2" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz">oz</option>
            <option value="lbs" selected>lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Pasta" checked/>
            <span>Pasta</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="1" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz">oz</option>
            <option value="lbs" selected>lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="black beans" checked/>
            <span>Black beans</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="15" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="pinto beans" checked/>
            <span>Pinto beans</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="15" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Lentils" checked/>
            <span>Lentils</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="16" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="chicken broth" checked/>
            <span>Chicken broth</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="32" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="vegetable broth" checked/>
            <span>Vegetable broth</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="32" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="beef broth" checked/>
            <span>Beef broth</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="32" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Peanut Butter" checked/>
            <span>Peanut butter</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="40" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Oats" checked/>
            <span>Oats</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="18" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="olive oil" checked/>
            <span>Olive oil</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="16" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="Vinegar" checked/>
            <span>Vinegar</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="16" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="soy sauce" checked/>
            <span>Soy sauce</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="10" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="honey" checked/>
            <span>Honey</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="12" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="maple syrup" checked/>
            <span>Maple syrup</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="12" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="baking powder" checked/>
            <span>Baking powder</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="8" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="brown sugar" checked/>
            <span>Brown sugar</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="2" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz">oz</option>
            <option value="lbs" selected>lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="granulated sugar" checked/>
            <span>Granulated sugar</span>
          </label>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="2" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz">oz</option>
            <option value="lbs" selected>lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="flour" checked/>
            <span>Flour</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="2" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz">oz</option>
            <option value="lbs" selected>lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="nuts" checked/>
            <span>Nuts</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="18" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
            <option value="lbs">lbs</option>
            <option value="cups">cups</option>
          </select>
          <label>Units</label>
        </div>
      </div>

      <div class="row">
        <div class="col s2">
          <label>
            <input type="checkbox" class="filled-in" name="ingredient" value="jam" checked/>
            <span>Jam</span>
          </label>
        </div>
        
        <div class="input-field col s1">
          <input value="13" id="juice_q" type="text" name="measure" class="validate">
          <label class="active" for="juice_q">Quantity</label>
        </div>

        <div class="input-field col s3">
          <select name="unit">
            <option value="oz" selected>oz</option>
          </select>
          <label>Units</label>
        </div>
      </div>
  </div>
  <br>
  <div>
    <button type="submit" class="btn waves-green">Save Pantry</button>
  </div>
  <br>
</form>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<script>
    $(document).ready(function(){
        $(".modal").modal();
        $('select:not([multiple])').material_select();
    });
</script>


{{#if pantry}}
    <h3>Your Current Pantry:</h3>

    {{#each pantry as |ingredient|}}

        <li class = "each"> name: <strong>{{ingredient.name}}</strong>
            quantity: <strong>{{ingredient.measure}}</strong>
            unit: <strong>{{ingredient.unit}}</strong>
            <br>
        </li>
    {{/each}}

{{/if}}
