<link href="/stylesheets/style.css" type="text/css" rel="stylesheet">

{{#if message}}
<div class="alert alert-error">
    {{message}}
</div>
{{/if}}
<!-- Sidebar -->
        <div class="sidebar">
            <dl class="nav">
                <a href="inventory" id="myPantry">My Pantry</a>
                <dt class="Category">Dietary Preferences</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="vegetarian" name="dietaryFilter" value="vegetarian">
                    <label for="vegetarian">vegetarian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="vegan" name="dietaryFilter" value="vegan">
                    <label for="vegan">vegan</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="gluten" name="dietaryFilter" value="gluten">
                    <label for="gluten">gluten free</label>
                </dt>

                <dt class="Category">Cuisine</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="Mediterranean" name="cusineFilter" value="Mediterranean">
                    <label for="Mediterranean">Mediterranean</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Asian" name="cuisineFilter" value="Asian">
                    <label for="Asian">Asian</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="Italian" name="cuisineFilter" value="Italian">
                    <label for="Italian">Italian</label>
                </dt>

                <dt class="Category">Cook Time</dt>
                
                <dt class="Filters">
                    <input type="checkbox" id="0-30" name="timeFilter" value="0-30">
                    <label for="0-30">0 to 30 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="30-60" name="timeFilter" value="30-60">
                    <label for="30-60">30 to 60 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="60-90" name="timeFilter" value="60-90">
                    <label for="60-90">60 to 90 minutes</label>
                </dt>

                <dt class="Filters">
                    <input type="checkbox" id="90+" name="timeFilter" value="90+">
                    <label for="90+">90+ minutes</label>
                </dt>
                 
            </dl>
        </div>
<p>Select ingredients to add to your pantry: </p>
<form method="POST" action="/recipe/pantry">

    <div>
          <input type="checkbox" name="ingredient" value="cheese"> Cheese<br>
          <input type="checkbox" name="ingredient" value="milk"> Milk<br>
          <input type="checkbox" name="ingredient" value="macaroni"> Macaroni<br>
          <input type="checkbox" name="ingredient" value="butter"> Butter<br>
        </select>
    </div>
    <div>
        <div>

            <button type="submit" class="btn">Save Pantry</button>
        </div>
    </div>
</form>

{{#if pantry}}
        <h3>Your Current Pantry:</h3>


    {{#each pantry as |ingredient|}}

        <li class = "each"> name: <strong>{{ingredient.name}}</strong>
            quantity: <strong>{{ingredient.quantity}}</strong>
            <br>
        </li>
    {{/each}}

{{/if}}

<!--<script>
let ingr = document.getElementById('ingredient');
ingr.form.addEventListener('submit', function(event){
    event.preventDefault();
    console.log(ingr.value);
})
</script>-->
